body {
    color: #333333;
    max-width: 60%;
    margin-left: 200px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 65px
}

.main-content {
    margin-left: 400px;
    align-content: center;
}

header a {
    margin-right: 16px;
    text-decoration: none;
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 80%;
    padding-top: 16px;
    margin-bottom: 50px;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
}

button {
    border: 1px solid #cccccc;
    color: #eeeeee;
    cursor: pointer;
    padding: 8px;
    background-color: #888888;

}